<p>Olá, <%= @user.nomeUsuario %></p>
<p>Sua inscrição no equipamento <%= @sala.nome %> foi removida. Você não possui mais acesso para agendamento nesse equipamento.</p>
<p>Em caso de dúvidas, entrar em contato com os administradores do equipamento.</p>

<p>Mensagem automática</p>
