<h3>Veja aqui as agendas disponiveis para inscriçao:</h3>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Observacao</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.nome %></td>
        <td><%= agenda.observacao %></td>
        <td><%= link_to "Inscriçao", inscricao_path(agenda) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
