<h3>Agendas do ICB:</h3>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Observação</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.nome %></td>
        <td><%= agenda.observacao %></td>
        <td><%= link_to "Inscrição", inscricao_path(agenda) %> </td>
        <td><%= link_to 'Calendário', eventoagenda_path(agenda) %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>


