<p id="notice"><%= notice %></p>



<%= link_to 'Novo Evento', new_event_path, class: 'btn btn-info'  %>

<%= link_to 'Lista de eventos', listagem_path, class: 'btn btn-light'  %>

<div id="calendar"></div>