<% if @confirmado == true %>
    <h2>Inscrição na agenda <%= @tipoagenda.nome %> realizada!</h2>
<% else %>
    <h2>Pedido de inscrição na agenda <%= @tipoagenda.nome %> foi feito com sucesso. Inscrição pendente aguardando manifestação do supervisor.</h2>
<% end %>   

<h3><%= @tipoagenda.observacao %></h3>

<br>

<% if @tipoagenda.validaextra == true %>
    <p>Essa agenda exige o preenchimento de outro formulário para uso dos equipamentos.</p>
    <p>Favor preencher o formulário <%= link_to "Formulário extra", @tipoagenda.reservadoformextra %> </p>
<% end %>