<% if @confirmado == true %>
    <h1>Inscrição na agenda realizada!</h1>
<% else %>
    <h1>Pedido de inscrição foi feito com sucesso. Inscrição pendente aguardando manifestação do supervisor.</h1>
<% end %>   